/* Import colors */
@import "colors.scss";

/*=======================================
=            Buttons RarDash            =
=======================================*/

.bt-rardash-default, button:disabled {
  background: $color-on-secondary-components;
  border-radius: 2px;
  padding: 10px;

  color: $color-primary;

  &:hover {
    text-decoration: none;
  }
}

button:disabled {
  background: $color-on-secondary-components;
  border-radius: 2px;
  border: none;
  padding: 10px;
  color: $color-primary;
}


.bt-rardash-action {
  background: $color-action;
  border: none;
  border-radius: 2px;
  padding: 10px;

  color: $color-on-secondary-components;

  &:hover {
    color: $color-on-secondary-components;
  }

  i {
    color: $color-on-secondary-components;
  }
}

.bt-rardash-danger {
  @extend .bt-rardash-action;
  background: $color-error;
}


.bt-rardash-circle {
  border-radius: 50%;
  font-size: 2.5em;
  width: 77px;
  float: left;
  text-align: center;
}

/*-----  End of Buttons RarDash  ------*/

