/*==================================================
=            Default colores of RarDash            =
==================================================*/

$color-primary: #344C67;
$color-secundary: #4C637B;
$color-primary-action: #38B1EB;
$color-secondary-components: #B7C5D5;
$color-on-secondary-components: #F2F6FA;
$color-action: #67BA2F;
$color-error: #F47564;
$color-warning: #F1C30E;

/*-----  End of Default colores of RarDash  ------*/

/*=========================================
=            Components colors            =
=========================================*/

$icons-left-navigation-color: #ffffff;
$icons-header-buttons: #B7C5D5;

/*-----  End of Components colors  ------*/


