$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*=========================================
=            Import components            =
=========================================*/

@import "colors.scss";
@import "fonts.scss";

/*-----  End of Import components  ------*/

/*=========================================
=            Import components            =
=========================================*/

@import "left_menu.scss";
@import "header.scss";
@import "buttons.scss";
@import "dropdown_menu.scss";
@import "breadcrumb_cotent.scss";
@import "datatable.scss";
@import "geral_boxes_content.scss";
@import "forms.scss";

/*-----  End of Import components  ------*/



body {
  font-family: $sans;
  font-size: 16px;
  font-weight: 400;
  color: $color-primary;

  margin-left: 60px;
}

.radio label, .checkbox label {
  padding-left: 0;
}
